* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: black;
    color: #fff;
}

header {
    background: transparent;
    padding: 1rem 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

.header-wrapper a {
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: rgb(229,9,20);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.first-section {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.644),  rgba(0, 0, 0, 0.822)), url(./Images/Landing-page-Img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border-bottom: 10px solid rgb(34,34,34);
}

.first-section-text h1 {
    font-size: 3.125rem;
    font-weight: 500;
    width: 600px; 
    margin-bottom: 16px;
}

.first-section-text p {
    font-size: 1.625rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.first-section-text h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

#email-input {
    display: flex;
    flex-direction: row;
}

#email {
    width: 470px;
    height: 60px;
    border: none;
}

.first-section-text button {
    width: 185px;
    height: 60px;
    background-color:rgb(229,9,20) ;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

::placeholder {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 10px;
}

.sec-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px 50px 100px;
    border-bottom: 10px solid rgb(34,34,34);
}

.sec-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.sec-section h2 {
    font-size: 30px;
    font-weight: 400;
}

.sec-section img {
    margin-left: 100px;
}

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgb(34,34,34);
}

.third-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.third-section h2 {
    font-size: 30px;
    font-weight: 400;
}

.third-section img {
    margin-right: 20px;
}

#third-text {
    margin-right: 100px;
}

.fourth-section {
    padding: 100px;
    border-bottom: 10px solid rgb(34,34,34);
}

#fourth-txt {
    width: 60%;
}

.fourth-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.fourth-section h2 {
    font-size: 30px;
    font-weight: 400;
}

.fifth-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgb(34,34,34);
}

.fifth-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.fifth-section h2 {
    font-size: 30px;
    font-weight: 400;
}

.fifth-section img {
    margin-right: 20px;
}

#fifth-text {
    margin-right: 100px;
}